<!-- Warning popup ("Out from Free Basics") for about link -->
<input type="checkbox" class="popup-toggle" id="aboutPopupVisibility"/>
<div class="popup">
   <div class="popup-content">
       <div class="popup-header block-header-out">Out from Free Basics</div>
       <!-- Popup message -->
       <div class="popup-text text-content message-panel text-content-message">
          This will take you out of Free Basics by Facebook and to the Bible.is website. Your device will need to use data outside of this system.
          <br/><br/>
          Would you like to continue?
       </div>
       <!-- Popup buttons -->
       <ul class="l-seperated-blocks reduced alternate-buttons" id="aboutPopupButtons">
          <li><a href="http://www.bible.is/about" class="block-button btn-primary">Yes</a></li>
          <li><label for="aboutPopupVisibility" class="block-button btn-secondary">No</label></li>
       </ul>
   </div>
</div>
