<!-- Request confirmation popup-->
<input type="checkbox" class="popup-toggle" id="requestConfirmation"/>
<div class="popup">
  <!-- Popup content -->
  <div class="popup-content">
      <div class="popup-header block-header-complete">Request Sent</div>
      <!-- Popup message -->
      <div class="popup-text text-content message-panel text-content-message">
          Your request has been sent. We'll send the link immediately to your email / phone number.
      </div>

      <!-- Popup buttons -->
      <ul class="l-seperated-blocks reduced alternate-buttons">
          <!-- Close button -->
          <li><label for="requestConfirmation" class="block-button btn-primary">Okay</label></li>
      </ul>
  </div>
</div>
