<!-- Warning popup ("Out from Free Basics") for home link -->
<input type="checkbox" class="popup-toggle" id="websitePopupVisibility"/>
<div class="popup">
  <div class="popup-content">
   <div class="popup-header block-header-out">Out from Free Basics</div>
   <!-- Popup message -->
   <div class="popup-text text-content message-panel text-content-message">
     This will take you Bible.is website and your device will need to use data outside of this system.
     <br/><br/>
     Continue to move now?
   </div>
   <!-- Popup buttons -->
   <ul class="l-seperated-blocks reduced alternate-buttons" id="websitePopupButtons">
     <li><a href="http://www.bible.is/" class="block-button btn-primary">Yes</a></li>
     <li><label for="websitePopupVisibility" class="block-button btn-secondary">No</label></li>
   </ul>
  </div>
</div>
