<%= render "about_popup" %>
<%= render "request_confirmation" %>

<!-- Site header -->
<header class="site-header l-fixed">
  <a href="<%= home_index_path %>" class="btn-home btn-header-home"></a>
  <h1 class="site-heading">Bible.is</h1>
</header>

<!-- Main page content -->
<main class="l-fluid l-vertical">
  <div class="content-panel l-fluid">
      <h2 class="page-heading icon-page-heading icon-about">About</h2>
      <!-- button to for showing navigation warning -->
      <div class="text-content message-panel text-content-message">
      <div class="bible-icon"></div>
        Read, Listen, and See the Bible for free in hundreds of languages on your iOS and Android devices. Bible.is is a ministry of Faith Comes By Hearing, whose mission is to provide the God's Word to everyone, everywhere.<br/><br/>
        <label for="aboutPopupVisibility" class="links">www.bible.is</label>
      </div>
  </div>
</main>
