<header class="site-header l-fixed">
  <a href="<%= home_index_path %>" class="btn-home btn-header-home"></a>
  <h1 class="site-heading">Bible.is</h1>
</header>

<!-- Main content -->
<main class="l-fluid content-panel">
  <!-- Body message -->
  <h2 class="page-heading icon-page-heading icon-share">Share The Message!</h2>
  <div class="text-content text-content-message message-panel">
    Join us to spread the Words to the world! You just have to easily
    share with your social media account, and it will help us so much to
    reach our purpose and especially your friends who might need this apps.
  </div>

  <!-- Share links (hrefs from: http://www.bible.is/share) -->
  <ul class="l-seperated-blocks l-section">
    <li><a href="https://www.facebook.com/dialog/share?app_id=145634995501895&display=popup&href=http://www.bible.is/&redirect_uri=https://developers.facebook.com/tools/explorer" class="btn-facebook btn-share">Share via Facebook</a></li>
    <li><a href="twitter://post?message=Check%20out%20Bible.is%2C%20the%20best%20way%20to%20read%2C%20listen%20to%2C%20and%20see%20the%20Bible%20like%20never%20before.%0A%0Ahttp%3A%2F%2Fwww.bible.is" class="btn-twitter btn-share">Share via Twitter</a></li>
    <li><a href="mailto:?subject=Check%20out%20Bible.is&body=Check%20out%20Bible.is%2C%20the%20best%20way%20to%20read%2C%20listen%20to%2C%20and%20see%20the%20Bible%20like%20never%20before.%0A%0Ahttp%3A%2F%2Fwww.bible.is"
         class="btn-email btn-share">Share via Email</a>
    </li>
    <li><a href="sms:?body=Check%20out%20Bible.is%2C%20the%20best%20way%20to%20read%2C%20listen%20to%2C%20and%20see%20the%20Bible%20like%20never%20before.%0A%0Ahttp%3A%2F%2Fwww.bible.is"
         class="btn-email btn-share">Share via SMS</a>
    </li>
    <li><a href="http://www.bible.is/share" class="btn-share-options btn-share">More sharing options</a></li>
  </ul>
</main>
